HERMES_API_BASE_URL=
HERMES_ARTIFACT_UPLOAD_ENDPOINT=/api/hermes/artifacts/upload-file
HERMES_API_TOKEN=
WM_TASK_OPS_API_BASE_URL=
WM_TASK_OPS_API_TOKEN=
TASK_OPS_BASE_URL=
HERMES_API_KEY=
DEFAULT_BRAND=wmandco
DEFAULT_EXPORT_WIDTH=1920
DEFAULT_EXPORT_HEIGHT=1080
DEFAULT_EXPORT_FPS=30
CHROME_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
PIPER_EXECUTABLE_PATH=
ALLOW_FALLBACK_SYSTEM_VOICE=false
PIPER_EXE=piper
PIPER_VOICE_MODEL=
VIDEO_DELIVERY_MODE=local_drive_sync
WM_LOCAL_CLIENTS_ROOT=F:\Cognexa Co\01_DRIVE-SYNC\WM & Co\03_CLIENTS
